<!DOCTYPE html>
<html>
  <head>
    <title>Fortune Teller</title>
    <link rel="stylesheet" type="text/css" href="../../public/stylesheet/style.css">
  </head>

  <body>
    <h1>Welcome to Klothes with Klossy!</h1>
    <p> Please enter the occausion</p>
    <form method=POST>
      <input type="text" name="occausion">
      <p> Please enter the weather</p>
      <input type="text" name="weather">
      <p> Lastly, please enter type</p>
      <input type="text" name="type">
      
      <input type="submit" value= "GET YOUR OUTFITS!"
      <br>
      
      </form>
  </body>
</html>